/* fonts */
$font-title: 'Imbue', serif;
$font-text: 'Lato', sans-serif;
$font-logo: 'Shadows Into Light', cursive;

/* font weights */
$title-thin: 600;
$title-thicc: 800;
$text-thin: 400;
$text-thicc: 900;

/* colors */
$text-color: #868686;
$background-color: #d6d6d6;
$shadow-color: #c5c4c4;
$logo-color: #f2f5f1;
$sidebar-color: #1d1d1d;
$sidebar-active-color: #1d1d1dbd;
$main-color: #ee9714;
$link-color: #170b9e;

/* spacing */
$base-space: 12px;
$sidebar-width: 212px;

/* font-sizes */
$base-font-size: 16px;
